In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
SPADE_R1_10min = pd.read_csv('SPADE_R1_10min_protein_features.csv')
SPADE_R2_10min = pd.read_csv('SPADE_proteinfeatures_R2_10min.csv')
SPADE_R3_10min = pd.read_csv('SPADE_proteinfeatures_R3_10min.csv')
SPADE_R1_30min = pd.read_csv('SPADE_proteinfeatures_R1_30.csv')
SPADE_R2_30min = pd.read_csv('SPADE_proteinfeatures_R2_30min.csv')
SPADE_R3_30min = pd.read_csv('SPADE_proteinfeatures_R3_30min.csv')

CCprofiler_R1_10min = pd.read_csv('CCprofiler_clean_R1_10min.csv')
CCprofiler_R2_10min = pd.read_csv('CCprofiler_clean_R2_10min.csv')
CCprofiler_R3_10min = pd.read_csv('CCprofiler_clean_R3_10min.csv')
CCprofiler_R1_30min = pd.read_csv('CCprofiler_clean_R1_30min.csv')
CCprofiler_R2_30min = pd.read_csv('CCprofiler_clean_R2_30min.csv')
CCprofiler_R3_30min = pd.read_csv('CCprofiler_clean_R3_30min.csv')

In [32]:
datasets = {
    ("SPADE", "10minR1"): SPADE_R1_10min,
    ("SPADE", "10minR2"): SPADE_R2_10min,
    ("SPADE", "10minR3"): SPADE_R3_10min,
    ("SPADE", "30minR1"): SPADE_R1_30min,
    ("SPADE", "30minR2"): SPADE_R2_30min,
    ("SPADE", "30minR3"): SPADE_R3_30min,
    ("CCprofiler", "10minR1"): CCprofiler_R1_10min,
    ("CCprofiler", "10minR2"): CCprofiler_R2_10min,
    ("CCprofiler", "10minR3"): CCprofiler_R3_10min,
    ("CCprofiler", "30minR1"): CCprofiler_R1_30min,
    ("CCprofiler", "30minR2"): CCprofiler_R2_30min,
    ("CCprofiler", "30minR3"): CCprofiler_R3_30min,
}
df = pd.concat(datasets, axis=1)
apex_df= df.loc[:, (slice(None),slice(None), ['protein_id','apex','peak_apex'])]
apex_df = apex_df.rename(columns={'peak_apex': 'apex'}, level=2)

In [71]:
apex_df

           SPADE                                                              \
         10minR1     10minR2     10minR3     30minR1     30minR2     30minR3
      protein_id  protein_id  protein_id  protein_id  protein_id  protein_id
0     A0A0B4J1G0  A0A087WQ44  A0A0B4J1G0  A0A0B4J1G0  A0A0B4J1G0  A0A087WQ44
1     A0A0B4J1G0  A0A0G2JDV3  A0A0B4J1G0  A0A0B4J1G0  A0A0B4J1G0  A0A0B4J1G0
2     A0A0G2JDV3  A0A0G2JG52  A0A0G2JDV3  A0A0G2JDV3  A0A0B4J1G0  A0A0B4J1G0
3     A0A0G2JG52  A0A140LIF8  A0A0G2JG52  A0A0G2JG52  A0A0G2JDV3  A0A0B4J1G0
4     A0A140LIF8  A0A140LIF8  A0A0G2JG52  A0A140LIF8  A0A0G2JG52  A0A0G2JDV3
...          ...         ...         ...         ...         ...         ...
6556         NaN         NaN         NaN         NaN      Q9Z2X8         NaN
6557         NaN         NaN         NaN         NaN      Q9Z2X8         NaN
6558         NaN         NaN         NaN         NaN      Q9Z2Y3         NaN
6559         NaN         NaN         NaN         NaN      Q9Z2Y8         NaN
6560         NaN         NaN         NaN         NaN      Q9Z329         NaN

      CCprofiler                                      ...                  \
         10minR1     10minR2     10minR3     30minR1  ... 10minR3 30minR1
      protein_id  protein_id  protein_id  protein_id  ...    apex    apex
0     A0A1L1SSC7  A0A0G2JDV3  A0A286YCV9  A0A140LIF8  ...    21.0    21.0
1     A0A286YCX6  A0A0G2JG52  A0A286YCX6  A0A286YCX6  ...     9.0    10.0
2     A0A286YCX6  A0A286YCV9  A0A286YCX6  A0A494BB10  ...     4.0    18.0
3     A0A286YCX6  A0A286YCX6      A1L314      A1L314  ...     4.0     4.0
4     A0A5F8MPI9  A0A286YCX6      A1L314      A2ADY9  ...    32.0    18.0
...          ...         ...         ...         ...  ...     ...     ...
6556         NaN         NaN         NaN         NaN  ...     NaN     NaN
6557         NaN         NaN         NaN         NaN  ...     NaN     NaN
6558         NaN         NaN         NaN         NaN  ...     NaN     NaN
6559         NaN         NaN         NaN         NaN  ...     NaN     NaN
6560         NaN         NaN         NaN         NaN  ...     NaN     NaN

                       SPADE
     30minR2 30minR3 10minR1 10minR2 10minR3 30minR1 30minR2 30minR3
        apex    apex    apex    apex    apex    apex    apex    apex
0       20.0    10.0     7.0    29.0     5.0     6.0       6    29.0
1       11.0    24.0    19.0    31.0    24.0    20.0      17     8.0
2       32.0     4.0    32.0    24.0    31.0    32.0      26    19.0
3        6.0     7.0    23.0     7.0    10.0    24.0      31    26.0
4       26.0     8.0     8.0    18.0    21.0     7.0      22    32.0
...      ...     ...     ...     ...     ...     ...     ...     ...
6556     NaN     NaN     NaN     NaN     NaN     NaN      14     NaN
6557     NaN     NaN     NaN     NaN     NaN     NaN      20     NaN
6558     NaN     NaN     NaN     NaN     NaN     NaN      11     NaN
6559     NaN     NaN     NaN     NaN     NaN     NaN      37     NaN
6560     NaN     NaN     NaN     NaN     NaN     NaN       3     NaN

[6561 rows x 24 columns]

In [73]:
df_long = apex_df.stack(level=[0,1])

# Rename the index levels for clarity
df_long.index.names = ['peak_index', 'group', 'time']
df_long = df_long.reset_index()
df_long

C:\Users\jca21\AppData\Local\Temp\ipykernel_10636\3635923169.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_long = apex_df.stack(level=[0,1])

       peak_index       group     time  protein_id  apex
0               0  CCprofiler  10minR1  A0A1L1SSC7   6.0
1               0  CCprofiler  10minR2  A0A0G2JDV3  31.0
2               0  CCprofiler  10minR3  A0A286YCV9  21.0
3               0  CCprofiler  30minR1  A0A140LIF8  21.0
4               0  CCprofiler  30minR2  A0A140LIF8  20.0
...           ...         ...      ...         ...   ...
54340        6556       SPADE  30minR2      Q9Z2X8  14.0
54341        6557       SPADE  30minR2      Q9Z2X8  20.0
54342        6558       SPADE  30minR2      Q9Z2Y3  11.0
54343        6559       SPADE  30minR2      Q9Z2Y8  37.0
54344        6560       SPADE  30minR2      Q9Z329   3.0

[54345 rows x 5 columns]

In [78]:
df_long.pivot(columns="group", values="apex", index=["time", "protein_id"])

ValueError: Index contains duplicate entries, cannot reshape

In [44]:
df_long.loc[0]

                    protein_id  apex
group      time
CCprofiler 10minR1  A0A1L1SSC7   6.0
           10minR2  A0A0G2JDV3  31.0
           10minR3  A0A286YCV9  21.0
           30minR1  A0A140LIF8  21.0
           30minR2  A0A140LIF8  20.0
           30minR3  A0A286YCX6  10.0
SPADE      10minR1  A0A0B4J1G0   7.0
           10minR2  A0A087WQ44  29.0
           10minR3  A0A0B4J1G0   5.0
           30minR1  A0A0B4J1G0   6.0
           30minR2  A0A0B4J1G0   6.0
           30minR3  A0A087WQ44  29.0

In [ ]:
def apex_difference(group): 
    # Calculate total revenue and total sales for the group
    total_revenue = group['revenue'].sum()
    total_sales = group['sales'].sum()
    
    # Return the average sales ratio (total sales / total revenue)
    return total_sales / total_revenue

# Group by city and apply the custom function
city_average_ratio = df.groupby('city').apply(average_sales_ratio)

print("\nAverage Sales Ratio by City (Custom Aggregation):")
print(city_average_ratio)

In [ ]:
df_long.groupby(['time','protein_id'])['apex'].sum().reset_index()

                               protein_id  apex
peak_index group      time
0          CCprofiler 10minR1  A0A1L1SSC7   6.0
                      10minR2  A0A0G2JDV3  31.0
                      10minR3  A0A286YCV9  21.0
                      30minR1  A0A140LIF8  21.0
                      30minR2  A0A140LIF8  20.0
...                                   ...   ...
6556       SPADE      30minR2      Q9Z2X8  14.0
6557       SPADE      30minR2      Q9Z2X8  20.0
6558       SPADE      30minR2      Q9Z2Y3  11.0
6559       SPADE      30minR2      Q9Z2Y8  37.0
6560       SPADE      30minR2      Q9Z329   3.0

[54345 rows x 2 columns]

In [15]:
counts

            group     time  protein_id  count
0      CCprofiler  10minR1  A0A1L1SSC7      1
1      CCprofiler  10minR1  A0A286YCX6      3
2      CCprofiler  10minR1  A0A5F8MPI9      2
3      CCprofiler  10minR1      A1L314      2
4      CCprofiler  10minR1      A1L3P4      1
...           ...      ...         ...    ...
37970       SPADE  30minR3      Q9Z2X8      1
37971       SPADE  30minR3      Q9Z2Y3      1
37972       SPADE  30minR3      Q9Z2Y8      1
37973       SPADE  30minR3      Q9Z329      1
37974       SPADE  30minR3      S4R1W5      1

[37975 rows x 4 columns]